body{
	background-color: #ededed;
	line-height: 1.65;
	font-family: sans-serif;
}

.info2{
  background-color: #67AAE1;
}

head3 {
  color: #084B8A;
}

.success2{
 background-color: #ADD7C5;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #EEE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
    border-left-color: #B8D19A;
}

@font-face {
    font-family: 'anudawitalic';
    src: url('ANUDI___-webfont.eot');
    src: url('ANUDI___-webfont.eot?#iefix') format('embedded-opentype'),
         url('ANUDI___-webfont.woff') format('woff'),
         url('ANUDI___-webfont.ttf') format('truetype'),
         url('ANUDI___-webfont.svg#anudawitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.white{
	background-color: white;
}


.ca {
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
}

.container {
 max-width: 1170px;
 min-height: 100%;
 overflow:auto;
  padding-bottom:150px; 
}

.footer {
  position: relative;
  margin-top: -100px;  /*negative value of footer height */
  height: 80px;
  clear:both;
 padding-top:150px; 
 
} 

#title_icon {
	background-image: url("../img/iiieeba2015_logo2.png")   ;
	height: 240px;
	background-size: cover; 
}

#users {
    height: 190px;
    overflow: scroll;
}

#messagesDiv {
    border: 2px solid lightblue;
    height: 290px;
    overflow: scroll;
    padding-left: 5px;
}

.white {
	background-color: white;
}

.container{
	background-color: white;
}

#ribbon {
clear: both;
margin: -2px 0 0 0;
padding: 14px 0 6px 0;
width: 710px;
background: rgb(241,255,201) url("../img/ribbon.png") repeat-x left top;
}

#ribbon2 {
clear: both;
margin: -2px 0 0 0;
padding: 14px 0 6px 0;
width: 1140px;
background: rgb(172, 229, 144) url("../img/ribbon.png") repeat-x left top;
}


#ribbon3 {
clear: both;
margin: -2px 0 2 0;
padding: 0px 0 6px 0;
width: 100%;
background: rgb(17, 26, 12) url("../img/ribbon.png") repeat-x left top;
}

.content {
	margin-top: 20px;
	background-image: url("../img/espiral-caderno3.jpg");
	height: 600px;	
}

.sheet {
	background-image: url("../img/sheet.jpg");
	 background-repeat: no-repeat;
	 background-size: 100%;
	 height: 350px; 
}

.active{
	font-weight: bold;
	font-size: 18px;
}

#title {
	background-color: #CCFFFF;
}

